# Bike Sharing Prediction Model

In [3]:
import pandas as pd
import numpy as np
data_preprocessed=pd.read_csv('bike_sharing_preprocessed.csv')
data_preprocessed.head()

,season_1,season_2,season_3,season_4,mnth_1,mnth_2,mnth_3,mnth_4,mnth_5,mnth_6,...,temp,atemp,hum,weather_0,weather_1,weather_2,weather_3,casual,registered,cnt
0,1,0,0,0,1,0,0,0,0,0,...,0.24,0.2879,0.81,0,0,0,0,3,13,16
1,1,0,0,0,1,0,0,0,0,0,...,0.22,0.2727,0.80,1,0,0,0,8,32,40
2,1,0,0,0,1,0,0,0,0,0,...,0.22,0.2727,0.80,0,1,0,0,5,27,32
3,1,0,0,0,1,0,0,0,0,0,...,0.24,0.2879,0.75,0,0,1,0,3,10,13
4,1,0,0,0,1,0,0,0,0,0,...,0.24,0.2879,0.75,0,0,0,1,0,1,1

In [4]:
data_preprocessed.columns.values

array(['season_1', 'season_2', 'season_3', 'season_4', 'mnth_1', 'mnth_2',
       'mnth_3', 'mnth_4', 'mnth_5', 'mnth_6', 'mnth_7', 'mnth_8',
       'mnth_9', 'mnth_10', 'mnth_11', 'mnth_12', 'hour_0', 'hour_1',
       'hour_2', 'hour_3', 'hour_4', 'hour_5', 'hour_6', 'hour_7',
       'hour_8', 'hour_9', 'hour_10', 'hour_11', 'hour_12', 'hour_13',
       'hour_14', 'hour_15', 'hour_16', 'hour_17', 'hour_18', 'hour_19',
       'hour_20', 'hour_21', 'hour_22', 'hour_23', 'holiday', 'weekday_1',
       'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6',
       'weekday_7', 'workingday', 'temp', 'atemp', 'hum', 'weather_0',
       'weather_1', 'weather_2', 'weather_3', 'casual', 'registered',
       'cnt'], dtype=object)

As we already know feautur "cnt"is summation of 'casual'and 'registered', therefore these two feautres "'casual'and 'registered'" has no effect on our prediction process and we drop them from df

In [5]:
data_preprocessed=data_preprocessed.drop(['casual'],axis=1)
data_preprocessed=data_preprocessed.drop(['registered'],axis=1)
data_preprocessed.head()

,season_1,season_2,season_3,season_4,mnth_1,mnth_2,mnth_3,mnth_4,mnth_5,mnth_6,...,weekday_7,workingday,temp,atemp,hum,weather_0,weather_1,weather_2,weather_3,cnt
0,1,0,0,0,1,0,0,0,0,0,...,1,0,0.24,0.2879,0.81,0,0,0,0,16
1,1,0,0,0,1,0,0,0,0,0,...,1,0,0.22,0.2727,0.80,1,0,0,0,40
2,1,0,0,0,1,0,0,0,0,0,...,1,0,0.22,0.2727,0.80,0,1,0,0,32
3,1,0,0,0,1,0,0,0,0,0,...,1,0,0.24,0.2879,0.75,0,0,1,0,13
4,1,0,0,0,1,0,0,0,0,0,...,1,0,0.24,0.2879,0.75,0,0,0,1,1